
body{
    text-align: left;
    background-color: #F5F5F5;
}

* {
   font-size: 20px;
   line-height: 1.428;
}

h1.title{
    font-size: 40px;
    text-align: center;
}


#li.tab
{
       font-size: 4px;
}
#map {
        height: 400px;
        width: 100%;
        border-style: solid;
        border-width: 5px 5px 5px 5px;
         overflow:visible;

}





input[type="text"]
{
    font-size:24px;
}



.chart-container {
    margin: 0px;
    height:200px
}