
body{
    text-align: left;
    background-color: #F5F5F5;
}

* {
   font-size: 20px;
   line-height: 1.428;
}




titlefontcenter {
    display: block;
    font-size: 200%;
    margin-top: .2em;
    margin-bottom: .2em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align: center;
}


h1.title{

    font-size: 4vw;
    text-align: center;
}

h2{
    color:rgb(0,255,0);
}


#li.tab
{
       font-size: 4px;
}
#map {
        height: 400px;
        width: 100%;
        border-style: solid;
        border-width: 5px 5px 5px 5px;
         overflow:visible;

}





input[type="text"]
{
    font-size:24px;
}



.chart-container {
    margin: 0px;
    height:200px
}


