{% extends "layout.html" %}
{% block body %}


<div class="container">
    <div class="row" margin="0px">
        <div class="col-sm-6">
            <div id="map"></div>
        </div>
        <div class="col-sm-6">
            This page shows the planned itinerary.
            The paths and altitudes between day's start and destination are messed up in some of the visualizations because Google Map does not have actual trekking route
            information for many of the routes. I hope to collect GPS path data once I visit!
            <p id="subsection_content"></p>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Day
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ebc">All</a></li>
                    {% for i in range(maxPIDm1) %}
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="/ebc/out/{{i+1}}">Day {{ i+1 }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!--<p id="plot_trace"></p>-->
                <div class="chart-container">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>

<footer class="container-fluid text-center">
    <p><a href="https://fairyonice.github.io/">Yumi's blog</p>
</footer>


<!--read in GoogleMap
This line needs to come right befor initMap defenition
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC1xvs61savLDwAnHYYXOPP1kp1TLDTWI&callback=initMap"></script>
<script>
var mytrip       = JSON.parse('{{ mytrip | tojson | safe  }}');
var mytrip_items = JSON.parse('{{ mytrip_items | tojson | safe  }}');

myChart = get_myChart(mytrip)

function initMap(){
      initialize(mytrip, mytrip_items);
};

</script>


<hr>

{% endblock %}

