{% extends "layout.html" %}
{% block body %}


<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Schedule')">Schedule</button>
  <button class="tablinks" onclick="openCity(event, 'BeforeTrip')">Before Trip</button>
</div>

<div id="Schedule" class="tabcontent">
</div>

<div id="BeforeTrip" class="tabcontent">
<div class="container">
 <h1>Introduction</h1>
    <p>It has been a big dream for me to visit Nepal since I read a book called
        <a href="https://www.amazon.com/Into-Thin-Air-Personal-Disaster/dp/0385494785">Into thin air</a>
        in my college writing class back when I was an undergraduate student in US.

        That's time, my English was pretty bad and reading through a book was a big challenge.
        But nevertheless, I finished reading this book because the story was so interesting to me.
        A real story of mountaineers who risked their lives to reach the summit of the highest mountain on earth
        (and more importantly come back alive).
        It sounds pretty stupid that people pay thousands of dollars for tours that offer only basic life support and
        that could potentially blind you, cripple you or, in the worst case, kill you.

        But I was also fascinated by the idea of climbing up the highest point on earth.
        Someday, I would love to visit or at least see this place that has been fascinating hundreds of strong mountaineers.
    </p>

    <br>
    <blockquote>
        Everest has always been a magnet for kooks, publicity seekers, hopeless romantics and others with a shaky hold on reality.
     <footer>― Jon Krakauer, Into Thin Air: A Personal Account of the Mount Everest Disaster</footer>
    </blockquote>
    <br>

    <p>
        About a decade has past since since my collage writing class.
        When my husband and I were planning our annual vacation trip last year in 2017,
        I found that although going to the summit of Everest requires serious mountaineering experiences,
        going to the base camp (5,297m, 17,598 ft) is feasible for most adults in good fit during the right seasons.
        The good seasons are March - May and October - November that avoid the monsoon seasons (June - September)
        and whiter (December - February).
        As my husband and I were planning to start a family sometime soon,
        we won't be able to visit EBC for a long time if we do not do this now.
        This motivated us to visit Nepal to see Mt. Everest in 2018.
    </p>
    <br>

    <p>
        Unlike Jon Krakauer we are not visiting the summit, but yet
        visiting EBC had a lot of challenges for us:
        I am an engineer, living in North America (at the sea level), and sitting at desk for more tahn 8 hours every day,
        and my daily work has nothing to do with mountaineering.
        I do not speak in Nepalish and the highest mountain that I visited was Mauna Kea (4,207.3m (13,803 ft)) that I achieved the summit by car.
        So organizing a trip to above 5,000m elevation in a country on another hemisphere is a non trivial task.
    </p>

    <div>
        <h3>The Challenges</h3>
        <ol>
            <li>Getting more than 2 weeks of vacation days during the EBC trekking seasons for both my husband and me</li>
            <li>Physically prepared for high altitude environment</li>
            <li>Gather information and plan the affordable trip</li>
        </ol>
    <p>
        The shortest tour that I found on
        We overcame the first challenge by planning ahead. I did not take any vacation in 2017 and carry over the vacation days to 2018.
        The second challenge is
        This blog will focus on the third challenge.
        Information was scattered around and also a lot of them are outdated.
        I hope that writing my EBC planning experience can help someone in future.
    </p>
    </div>

    <h1>Tour vs individual trekking</h1>
    <h1><a href="https://www.bookmundi.com/everest-base-camp-trek/d5-bm">Bookmundi </a> </h1>

    <h1>Details on tour</h1>
    <h1>What to bring</h1>
    <h1>Cost</h1>

</div>

</div>

<div id="section_map">
    <div id="map"></div>
</div>

<div id="section_description">
    <p id="subsection_content"></p>
</div>

<div id="section_tab">
    <nav class="navbar navbar-default">
        <ul class="nav nav-pills nav-stacked ">
          <li><a href="/" class="tab">All</a></li>
            {% for i in range(maxPIDm1) %}
                <li><a href="/out/{{i}}" class="tab">Day{{i}}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>

<div id="section_trace">
    <p id="plot_trace"></p>
</div>



<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";

}
</script>



<!--read in GoogleMap
This line needs to come right befor initMap defenition
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC1xvs61savLDwAnHYYXOPP1kp1TLDTWI&callback=initMap"></script>
<script>
var mytrip       = JSON.parse('{{ mytrip | tojson | safe  }}');
var mytrip_items = JSON.parse('{{ mytrip_items | tojson | safe  }}');

function initMap(){
      initialize(mytrip, mytrip_items);
};


data = get_trace(mytrip);
Plotly.newPlot('plot_trace', data["trace"],data["layout"]);
</script>





{% endblock %}

