{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div id="map"></div>
        </div>
        <div class="col-sm-6">
            <p id="subsection_content"></p>


                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Day
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/ebc">All</a></li>
                        {% for i in range(maxPIDm1) %}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="/ebc/out/{{i+1}}">Day {{ i+1 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <br>
                <br>
                <p id="plot_trace"></p>
            </div>
        </div>
    </div>
</div>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

<script>
function openCity(evt, tab) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tab).style.display = "block";
    evt.currentTarget.className += " active";

}
</script>



<!--read in GoogleMap
This line needs to come right befor initMap defenition
-->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC1xvs61savLDwAnHYYXOPP1kp1TLDTWI&callback=initMap"></script>
<script>
var mytrip       = JSON.parse('{{ mytrip | tojson | safe  }}');
var mytrip_items = JSON.parse('{{ mytrip_items | tojson | safe  }}');

function initMap(){
      initialize(mytrip, mytrip_items);
};


data = get_trace(mytrip);
Plotly.newPlot('plot_trace', data["trace"],data["layout"]);
</script>



<hr>

{% endblock %}

