{% extends "layout.html" %}
{% block body %}


<div class="container">
    <nav id="toc" data-toggle="toc"></nav>
    <body data-spy="scroll" data-target="#toc">
    <br>
    <titlefont>Introduction</titlefont>
    <p>It has been a big dream for me to visit Nepal since I read a book called
        <a href="https://www.amazon.com/Into-Thin-Air-Personal-Disaster/dp/0385494785">Into thin air</a>
        in my college writing class back when I was an undergraduate student.

        At that time my English was pretty bad and reading through a book was a big challenge.
        But nevertheless, I finished reading this book because the story was shockingly interesting.
        <a href="https://www.amazon.com/Into-Thin-Air-Personal-Disaster/dp/0385494785">Into thin air</a> is
        a real story of mountaineers who risked their lives to reach the summit of the highest mountain on earth
        (and more importantly come back alive).
        It sounds pretty stupid that people pay thousands of dollars for tours that offer only basic life support and
        that could potentially blind you, cripple you or, in the worst case, kill you.

        But I was also fascinated by the idea of climbing up the highest point on earth.
        Someday, I would love to visit or at least see this place that has been fascinating hundreds of strong
        mountaineers.
    </p>

    <br>
    <blockquote>
        Everest has always been a magnet for kooks, publicity seekers, hopeless romantics and others with a shaky hold
        on reality.
        <footer>Jon Krakauer, Into Thin Air: A Personal Account of the Mount Everest Disaster</footer>
    </blockquote>
    <br>

    <p>
        About a decade has past since my collage writing class.
        When my husband and I were planning our annual vacation trip last year in 2017,
        I found that although going to the summit of Everest requires serious mountaineering experiences,
        going to the base camp (5,297m, 17,598 ft) is feasible for most adults in good fit during the right seasons.
        The good seasons are March - May and October - November that avoid the monsoon seasons (June - September)
        and winter (December - February).
        Early May seems to be the most popular season largely because of beautiful alpine flowers.
        Another reason is that this is the time for those climbing the summit to visit EBC.
        So early May is the time when you can see EBC with colourful tents.
        As my husband and I were planning to start a family sometime soon,
        we won't be able to visit EBC for a long time if we do not do this now.
        This motivated us to visit Nepal to see Mt. Everest in May 2018.
    </p>
    <br>

    <p>
        We are not visiting the summit like Jon Krakauer and other brave mountaineers.
        But yet visiting EBC brought a lot of challenges to seasonal hikers like us.
    </p>
    <p>
        I am an engineer, living in North America, of course at the sea level, and sitting at desk for more than 8 hours
        every day.
        My daily work has nothing to do with mountaineering.
        I do not speak in Nepalish and the highest mountain that I visited was Mauna Kea (4,207.3m (13,803 ft)) in
        Hawaii.
        I achieved the summit by car.
        So organizing a trip to above 5,000m elevation in a country on another hemisphere was a non trivial task.
    </p>

    <p>
        The preparation was non-trivial and I got a lot of information by reading people's blog posts.
        In my experience, blog posts provided me more helpful information than infomation from tour organization
        websites,
        which is probably because many of these bloggers' points of view as tourists/hikers were more similar to my
        perspective
        than tour companies.
        In this blog article, I would like to share my pre-trip planning experience so that others can benefit from it.
        At this point when I am writing this article, I have not visited EBC yet.
        So if you are interested in my post-EBC opinions, please go to <a href="ebc_aftertrip.html"> post-EBC</a>.
    </p>
    <br>
    <br>
</div>


{% endblock %}