{% extends "layout.html" %}
{% block body %}


<div class="container">
 <h1>Introduction</h1>
    <p>It has been a big dream for me to visit Nepal since I read a book called
        <a href="https://www.amazon.com/Into-Thin-Air-Personal-Disaster/dp/0385494785">Into thin air</a>
        in my college writing class back when I was an undergraduate student.

        At that time my English was pretty bad and reading through a book was a big challenge.
        But nevertheless, I finished reading this book because the story was shockingly interesting.
        <a href="https://www.amazon.com/Into-Thin-Air-Personal-Disaster/dp/0385494785">Into thin air</a> is
        a real story of mountaineers who risked their lives to reach the summit of the highest mountain on earth
        (and more importantly come back alive).
        It sounds pretty stupid that people pay thousands of dollars for tours that offer only basic life support and
        that could potentially blind you, cripple you or, in the worst case, kill you.

        But I was also fascinated by the idea of climbing up the highest point on earth.
        Someday, I would love to visit or at least see this place that has been fascinating hundreds of strong mountaineers.
    </p>

    <br>
    <blockquote>
        Everest has always been a magnet for kooks, publicity seekers, hopeless romantics and others with a shaky hold on reality.
     <footer>Jon Krakauer, Into Thin Air: A Personal Account of the Mount Everest Disaster</footer>
    </blockquote>
    <br>

    <p>
        About a decade has past since my collage writing class.
        When my husband and I were planning our annual vacation trip last year in 2017,
        I found that although going to the summit of Everest requires serious mountaineering experiences,
        going to the base camp (5,297m, 17,598 ft) is feasible for most adults in good fit during the right seasons.
        The good seasons are March - May and October - November that avoid the monsoon seasons (June - September)
        and whiter (December - February).
        Early May seems to be the most popular season largely because of beautiful alpine flowers.
        Another reason is that this is the time for those climbing the summit to visit EBC.
        So early May is the time when you can see EBC with colourful tents.
        As my husband and I were planning to start a family sometime soon,
        we won't be able to visit EBC for a long time if we do not do this now.
        This motivated us to visit Nepal to see Mt. Everest in May 2018.
    </p>
    <br>

    <p>
        We are not visiting the summit like Jon Krakauer and other brave mountaineers.
        But yet visiting EBC had a lot of challenges for seasonal hikers like us.
    </p>
    <p>
        I am an engineer, living in North America, of course at the sea level, and sitting at desk for more tahn 8 hours every day.
        My daily work has nothing to do with mountaineering.
        I do not speak in Nepalish and the highest mountain that I visited was Mauna Kea (4,207.3m (13,803 ft)) in Hawaii.
        I achieved the summit by car.
        So organizing a trip to above 5,000m elevation in a country on another hemisphere is a non trivial task.
    </p>

    <div>
        Here are the lists of challenges that I faced:
        <h3>The Challenges</h3>
        <ol>
            <li>Getting more than 2 weeks of vacation days during the EBC trekking seasons for both my husband and me</li>
            <li>Physically prepared for high altitude environment</li>
            <li>Gather information and plan the affordable trip</li>
        </ol>
    <p>
        Regarding the first challenge, the shortest trip to EBC seems to take about 8 days.
        But as we live in North America, flight to Kathumandu takes 2 days.
        So we techinically needs only 10 (= 8 + 2 + 2) days at minimum.

        We overcame the first challenge by planning ahead. I did not take any vacation in 2017 and carry over the vacation days to 2018.
        The second challenge is
        This blog will focus on the third challenge.
        Information was scattered around and also a lot of them are outdated.
        I hope that writing my EBC planning experience can help someone in future.
    </p>
    </div>

    <h1>Tour vs individual trekking</h1>
    <h1><a href="https://www.bookmundi.com/everest-base-camp-trek/d5-bm">Bookmundi </a> </h1>

    <h1>Details on tour</h1>
    <h1>What to bring</h1>
    <h1>Cost</h1>
</div>

{% endblock %}