{% extends "layout.html" %}
{% block body %}


<div class="container">
    <nav id="toc" data-toggle="toc"></nav>
    <body data-spy="scroll" data-target="#toc">
    <br>
    This page is my to do list on the day before the trip
    <titlefont>Reminder to myself</titlefont>
    <li>
        <ul>Charge iphone -> put in a backpack</ul>
        <ul>Charge ipod -> put in a backpack</ul>
        <ul>Charge GoPro -> put in a backpack</ul>
        <ul>Charge battery bank -> put in a backpack</ul>
    </li>
    <br>
    <br>
</div>


{% endblock %}