{% extends "layout.html" %}
{% block body %}




<!-- 1st row-->
<div class="container">
    <div class="row" margin="0px">
        <div class="col-xs-9">
            <div id="map" style="width:100%;"></div>
            <div class="chart-container">
                <canvas id="get_plot_latlng" width="400" height="400"></canvas>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="tz-gallery">
              {% for pic in randompics %}
                <a class="lightbox" href="{{pic}}">
                    <img src="{{pic}}" width="10">
                </a>
              {% endfor %}
            </div>
        </div>
        <div class="col-sm-3">
            <p id="get_summary_latlng" ></p>
        </div>
    </div>
</div>


<!-- 2nd row-->
<div class="container">
    <div class="row" margin="-5px">
        <div class="col-xs-12">
            <div class="chart-container">
                <canvas id="get_plot_latlng" width="400" height="400"></canvas>
            </div>
        </div>

    </div>
</div>

<!-- 3rd row -->
<div class="container">
    <div class="row" margin="0px">
        <div class="col-sm-12">
            test
            <p id="blog_diary"></p>
        </div>
    </div>
</div>



<hr>
<footer class="container-fluid text-center">
    <p><a href="https://fairyonice.github.io/">Yumi's blog</p>
</footer>




<!--read in GoogleMap
This line needs to come right befor initMap defenition
-->
<script>
var points_aftertrip_js = {{ points_aftertrip | safe }};

function initMap(){
    initialize_aftertrip(points_aftertrip_js);
};
get_plot_latlng(points_aftertrip_js);
get_summary_latlng(points_aftertrip_js)
</script>

<!--
<script>
// https://stackoverflow.com/questions/8710758/json-is-appearing-as-unicode-entities-in-jinja2-template/8710993
var randompics = {{ randompics | map('string')|list|tojson}};
image_zoom_out(randompics)
</script>
-->


<!-- https://tutorialzine.com/2017/02/freebie-4-bootstrap-galleries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC1xvs61savLDwAnHYYXOPP1kp1TLDTWI&callback=initMap"></script>




{% endblock %}

