{% extends "layout.html" %}
{% block body %}
<div class="container">
    <nav id="toc" data-toggle="toc"></nav>
    <body data-spy="scroll" data-target="#toc">
    <titlefont>Reminder to myself</titlefont>
    <br>
    This page contains my to-do list on the day before the trip (April 19, 2018) and during the trip:
    <h1>TODO on the day before departure to Nepal</h1>
    <ui>
        <li>Charge iphone -> put in a backpack</li>
        <li>Charge ipod -> put in a backpack</li>
        <li>Charge GoPro -> put in a backpack</li>
        <li>Charge battery bank -> put in a backpack</li>
         <li>Shave (this is to remind my husband)</li>
    </ui>
    <br>
    <br>
    <h1>TODO once arrived at Kathmandu</h1>
    <ui>
        <li>Buy Diamox</li>
        <li>Buy adapter</li>
    </ui>
    </body>
</div>
<br>
<br>
{% endblock %}