{% extends "layout.html" %}
{% block body %}


<div class="container">
    <nav id="toc" data-toggle="toc"></nav>
    <body data-spy="scroll" data-target="#toc">
    <br>
    <h1>Introduction</h1>
    <p>It has been a big dream for me to visit Nepal since I read a book called
        <a href="https://www.amazon.com/Into-Thin-Air-Personal-Disaster/dp/0385494785">Into thin air</a>
        in my college writing class back when I was an undergraduate student.

        At that time my English was pretty bad and reading through a book was a big challenge.
        But nevertheless, I finished reading this book because the story was shockingly interesting.
        <a href="https://www.amazon.com/Into-Thin-Air-Personal-Disaster/dp/0385494785">Into thin air</a> is
        a real story of mountaineers who risked their lives to reach the summit of the highest mountain on earth
        (and more importantly come back alive).
        It sounds pretty stupid that people pay thousands of dollars for tours that offer only basic life support and
        that could potentially blind you, cripple you or, in the worst case, kill you.

        But I was also fascinated by the idea of climbing up the highest point on earth.
        Someday, I would love to visit or at least see this place that has been fascinating hundreds of strong
        mountaineers.
    </p>

    <br>
    <blockquote>
        Everest has always been a magnet for kooks, publicity seekers, hopeless romantics and others with a shaky hold
        on reality.
        <footer>Jon Krakauer, Into Thin Air: A Personal Account of the Mount Everest Disaster</footer>
    </blockquote>
    <br>

    <p>
        About a decade has past since my collage writing class.
        When my husband and I were planning our annual vacation trip last year in 2017,
        I found that although going to the summit of Everest requires serious mountaineering experiences,
        going to the base camp (5,297m, 17,598 ft) is feasible for most adults in good fit during the right seasons.
        The good seasons are March - May and October - November that avoid the monsoon seasons (June - September)
        and whiter (December - February).
        Early May seems to be the most popular season largely because of beautiful alpine flowers.
        Another reason is that this is the time for those climbing the summit to visit EBC.
        So early May is the time when you can see EBC with colourful tents.
        As my husband and I were planning to start a family sometime soon,
        we won't be able to visit EBC for a long time if we do not do this now.
        This motivated us to visit Nepal to see Mt. Everest in May 2018.
    </p>
    <br>

    <p>
        We are not visiting the summit like Jon Krakauer and other brave mountaineers.
        But yet visiting EBC brought a lot of challenges to seasonal hikers like us.
    </p>
    <p>
        I am an engineer, living in North America, of course at the sea level, and sitting at desk for more tahn 8 hours
        every day.
        My daily work has nothing to do with mountaineering.
        I do not speak in Nepalish and the highest mountain that I visited was Mauna Kea (4,207.3m (13,803 ft)) in
        Hawaii.
        I achieved the summit by car.
        So organizing a trip to above 5,000m elevation in a country on another hemisphere was a non trivial task.
    </p>

    <p>
        The preparation was non-trivial and I got a lot of information by reading people's blog posts.
        In my experience, blog posts were a more helpful information source than infomation from tour organization
        websites,
        which is probably because many of these bloggers' points of view as tourists/hikers were more similar to my
        perspective
        than tour companies.
        In this blog article, I would like to share my pre-trip planning experience so that others can benefit from it.
        At this point when I am writing this article, I have not visited EBC yet.
        So if you are interested in my post-EBC opinions, please go to <a href="ebc_aftertrip.html"> post-EBC</a>.
    </p>
    <br>
    <br>


    <h1>The Challenges</h1>
    Here are the lists of challenges that I faced:
    <br>
    <ol>
        <li>Getting more than 2 weeks of vacation days during the EBC trekking seasons for both my husband and me</li>
        <li>Physically prepared for high altitude environment</li>
        <li>Gather information and plan the affordable trip</li>
    </ol>

    <br>
    <h2>+2 weeks vacations</h2>
    <p>
        The time required for EBC trekking vary across tours.
        The shortest trip to EBC seems to take about 7 - 8 days, and often has at most 1 acclimitization day.
        This route takes the same route in and out, and it is roughly like this:
    <ol>
        <li>Lukla -> Namche Bazzar -> Tengboche -> Dingboche -> Lobuche -> Everest Base Camp -> Dingboche -> Lukla
    </ol>
    <br>
    (When I was planning the EBC trip, it was very difficult for me to remember the unfamiliar foreign geographical names.
    For someone like me, I embedded the google map around EBC with a geographical names at
    <a href="https://yumi-trip-backlog.herokuapp.com/ebc">map and schedule page</a>.
    This page essentially shows the route I decided to take.
    So please refer to it when you get overwhelmed with the geographical names.)
    <br>
    <br>
    We did not want to take this route because the schedule seems too tight,
    and we wanted to make sure that we will have enough acclimitization days.
    We also thought that it would be nice that if the trekking route is not piston but a loop to enjoy more view.
    </p>
    <h3> Gyoko Lake</h3>
    <p>
        Gyoko Lake is a popular "adds-on" to the EBC trek.
        Going to Gyoko lake requires at least additional 2 - 3 days to the route but it can make the entire trek into a loop.
        Visiting EBC is once-in-life-time experience and who knows if we come back to this area on earth in the future?
        So we decided to add Gyoko lake in our route.

    </p>
    <h4> Clockwise loop or counter-clockwise loop</h4>
    <p>
        There are two ways to go to Gyoko lake and EBC: clockwise route and counter-clockwise route.
        The clockwise route would add at least 2 additional days to the route while the counter clockwise route seems to add at least 3 additional days.

        From online research we found that if we take a clockwise route, the route from Gokyo side is little though,
        and step walking up is required in comparisons to the counter-clockwise route from Everest base camp side.
        The trail from Everest base camp side is gradually ascent, so it is easier and more comfortable of doing Chola la pass from Everest base camp side rather than from Gokyo.
        From this information, we decided to visit Gyoko lake in counter-clockwise loop.
    </p>
    <br>
    <p>
        We also decided to have two additional acclimitization days and this made our EBC trip to extend 15 days.
        See <a href="https://yumi-trip-backlog.herokuapp.com/ebc">Before trip</a> for the exact route that we decided to take.
    </p>
    <p>
        We overcame this first challenge by planning ahead, and saved vacation days in 2017.
    </p>






    <br>
    <br>
    <h2>Physical Preparation for High Altitude</h2>
    <p>
        I was concerened about the high altitude.
        The highest altitude that I visited was 4,207m in Mauna Kea, and
        I felt very weak when I was there.
        You get altitutde sickness especially when you are tired and did not have a good sleep.
        So in order to avoid this, we decdided to have extra buffer days to fix the jet lag in Kathumandu before our 15
        trekking days.

    </p>

    <h3>Altitude sickness medicine</h3>
    <p>
        Diamox is the only clinically proven medication which speeds up acclimatization.
        However, it seems that we need prescription to purchase this medicine in US.
        So we decided to buy it in Kathmandu. Let's see if our decision will be right...
    </p>
    <br>
    <br>
    <div id="gather info">
        <h2>Gather information and plan the affordable trip</h2>
        <br>
        <h2 id="localtour">Deciding on tours</h2>

        Gathering infomation online was one of the biggest challenge and that is also the reason why I was motivated
        to log my experience.
        <br>
        <h3>Tour vs individual trekking</h3>
        <p>
            We know that individual trekking is possible and potentially cheaper.
            But we decided to go with a tour because we are pretty new to this high altitude world, and wanted to have
            someone that we can rely on in the case of emergency.
            Nevertheless, <a href="https://www.twowanderingsoles.com/blog/how-much-does-everest-base-camp-trek-cost">this
            blog</a> gave me a good ideas on individual trek.
        </p>
        <br>
        <p>
        <h3>Western tour vs local tour</h3>
        The price of EBC tour vary between $700 - $5,000, and local tours are in the lower range (< $2,000)
        while the western tours are in higher range (> $2,000).

        My impression of the biggest difference in service was that western tour comes with western tour guide and
        "nice" tea house accomodation while the local tours come with local guide and "regular" accommodation.

        We decided to go with the local tour because we did not really care much about the nice accommodation in Nepal.
        </p>
        <br>
        <h3>Choosing local tours </h3>
        <p>
            <a href="https://www.bookmundi.com/everest-base-camp-trek/d5-bm">Bookmundi </a> website was great help
            deciding
            on which local tours to select.
            You can chat with the tour organizers on live (for free) to negotiate the price and ask basic questions.
            I talked to 4 travel agencies (Green Valley Nepal Treks, Unique Path Trekking & Expedition, Nepal Eco Adventure Pvt Ltd and Himalayan Leisure, Inc.) and decided to go with <a href="http://www.himalayanleisure.com/"> Himarayan
            Leisure</a>.
        </p>
        <br>

        <div class="container">
            <figure>
                <img src="/static/img/screenshot_bookmundai.png" class="img-rounded" border="20" alt="Cinque Terre" width="904" height="436"  alt="screenshot_bookmundai" >
                <figcaption> Screenshot of my chatting history with <a href="http://www.himalayanleisure.com/"> Himarayan Leisure</a> </figcaption>
            </figure>
        </div>
        <br>
        <h4>The service provided by most of the four agencies</h4>
        <p>
            All the 4 travel agencies offer packages that contains basic items, and they are:
            <ol>
                <li>Airport pickup and drop services on a private vehicle before and after the trek</li>
                <li>Kathmandu - Lukla - Kathmandu domestic airline tickets</li>
                <li>All applicable domestic airport taxes</li>
                <li>Accommodation on cozy tea houses during the whole trek</li>
                <li>Trekkers Information Management System (TIMS) registration card</li>
                <li>Experienced English speaking, government licensed and ministry of tourism trained
trekking guide with meals, accommodation, salary and insurance</li>
                <li>Down jacket, four seasonal sleeping bag, duffel bag and trekking map (down jacket and sleeping bag are to be returned after trip completion)</li>
                <li>All meals [Breakfast, Lunch and Dinner / main course] during the trek as per the itinerary</li>
                <li>Down jacket, four seasonal sleeping bag, duffel bag and trekking map (down jacket and sleeping bag are to be returned after trip completion)</li>
                <li>Comprehensive first aid medical kit carried by the guide</li>
                <li>Necessary paper works, all government and local taxes</li>
            </ol>
            I purposefully selected tours without porters because I wanted to carry my own luggage by myself.
            But all the tours suggested that I can have porter services as add-on to the trip.
        </p>
        <br>
        <p>
            I believe these are the minimum required items for hikers like us to trek to EBC.
            So I am sure I would be happy choosing any of these agencies.
            But they have some different characteristics here and there.
            To optimize the choice of agencies, I looked at some of their statistics.
            The next section discusses the difference of the four agencies.
        </p>
        <br><br>

        <h4>The difference of the four agencies</h4>
        <br>
<div class="container">
        <table class="table">
            <tr>
                <th>Travel Agency</th>
                <th>Trip Advisor Review Rate</th>
                <th>Bookmundi Review Rate</th>
                <th>Tour Offer for 2 people</th>
            </tr>
            <tr>
                <td><a href="https://www.tripadvisor.com/Attraction_Review-g293890-d6109052-Reviews-Green_Valley_Nepal_Treks_Research_Hub_Day_Tours-Kathmandu_Kathmandu_Valley_Bagmat.html">Green Valley Nepal Treks</a></td>
                <td>5.0 (359 Reviews)</td>
                <td>4.5 (110 Reviews)</td>
                <td>15-day trek for USD 2,500</td>
            </tr>
            <tr>
                <td><a href="https://www.tripadvisor.com/Attraction_Review-g293890-d10726449-Reviews-Unique_Path_Trekking_Expedition-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_.html">Unique Path Trekking & Expedition</a></td>
                <td>5.0 (81 Reviews)</td>
                <td>5.0 (8 Reviews)</td>
                <td>15-day trek for USD 1,750 without meals and USD 2,750 with meals
                </td>
            </tr>
            <tr>
                <td><a href="https://www.tripadvisor.com/Attraction_Review-g293890-d5992936-Reviews-Nepal_Eco_Adventure-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html">Nepal Eco Adventure Pvt Ltd</a></td>
                <td>5.0 (604 Reviews)</td>
                <td>4.8 (236 Reviews)</td>
                <td>15-day trek for USD <strike>2,420</strike> 2,500</td>
            </tr>
            <tr>
                <td><a href="https://www.tripadvisor.com/Attraction_Review-g293890-d5123540-Reviews-Himalayan_Leisure_Inc-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html">Himalayan Leisure, Inc.</a></td>
                <td>5.0 (47 Reviews)</td>
                <td>4.9 (268 Reviews)</td>
                <td>15-day trek for USD 2,116</td>
            </tr>
        </table>
        The number of reviews is counted on April 8, 2018.
        <br>
        <br>
        <p>
            I got the impression that the Trip Adviser's review rates are unrealistically so high in all these agencies that maybe they are hiring someone to write reviews.
            Also many reviews are too well-written..., giving me the impression that some "professional writers" gave these reviews.
        </p>
        <br>
        <p>
            Nevertheless, the number of reviews in Trip Adviser seems to be correlated to the age of the agencies.
            From my online research, Nepal Eco Adventure Pvt Ltd is the oldest and most popular tour agency for EBC trekking.
            As the offer from Green Valley Nepal Treks and Unique Path Trekking & Expedition are
            just as comparable as the Nepal Eco Adventure Pvt Ltd, and they seem less popular than Nepal Eco Adventure Pvt Ltd,
            I thought that there are no advantage of selecting Green Valley Nepal Treks and Unique Path Trekking & Expedition over Nepal Eco Adventure Pvt Ltd.
            This left me with the choice of Nepal Eco Adventure Pvt Ltd and Himalayan Leisure, Inc.
        <br><br>
            <h4><a href="https://nepalecoadventure.com/">Nepal Eco Adventure Pvt Ltd</a></h4>
            Chhatra karki was a very responsible manager of Nepal Eco Adventure Pvt Ltd and he responded to my questions very quickly and professionally.
            However, I was not very happy about one thing:
            I contacted Nepal Eco Adventure on Sunday midnight in Feburary (PST).
            The price listed on bookmundai for the entire tour was USD 2,420 for two people.
            The next day Nepal Eco Adventure Pvt Ltd emailed me back saying that the tour is USD 2,500.
            I was confused, and I emailed him:

            <blockquote>
                The website changed the price. The 15 days trip without porter used to be $1210 / person. Now it is $1250. Why did the price change?
            </blockquote>
            The response from Chhatra karki was:
            <blockquote>
                Trip cost can change if you book the trek in much advance its cheaper. Price of the trip can change we had weekend discount time you checked the price after the weekend back intro normal price that we fixed price for nearly 1 year.
                Price changed because weekend is over and we change the price....
            </blockquote>
            <blockquote>
                Choice is your whether you chose Nepal Eco Adventure or some other company.
                I am sure some low profile new agency can offer the similar trip for lot less.
                You can check Nepal Eco Adventure on trip Adviser how many people recommended and Himalayan Leisure Inc how may people recommend.
                It will give you an idea who we are You may check the similar trek price on out actual website https://nepalecoadventure.com/nepal-trekking/15-days-everest-base-camp-cho-la-pass-gokyo-trekking/ $1400 USD per person including porter. Also you can check the review on Bookmundi. Our price is fixed I can't offer any discount from $1250 USD. If other agency package similar and cheaper you can book other package as you like. I am sorry I can't give you any better price then $1250 USD. $1250 USD per person is final price for the trek.
                There are lots of choice on Boomundi you can chose which you like to use for your trek.
                If you have any question let me know.
            </blockquote>
            ... but I emailed you during my weekend?
            I interpreted this email as "This is what you get and if you want to go with others, go ahead and do so but you will be sorry".
            I felt that this conversation would not be a good start of my big adventure.
            So ... yeah I decided to go with others!
        </p>
        <br><br>
        <h4><a href="http://www.himalayanleisure.com/">Himalayan Leisure, Inc.</a></h4>

        <br>
    </div>



        <br>

    </div>
    <br>
    <br>
    <div id="insurance">
        <h2>Insurance</h2>
        Travel Protection Explorer Plan from <a href="https://www.worldnomads.com/"> World Nomads</a> was the one of the
        few travel insurances that cover high altitude evacuation.
        We wanted to have some insurance just in case if we need to evacuate with helicopter in high altitude
        (which is not cheep without insurance).
        We only purchased this travel insurance for 13 days DAY2 (25 Apr 2018) to DAY 14 (7 May 2018) when we are in
        altitude higher than 3,000m.
        <br>
        Note: We have another regular travel insurance, which does not cover high-altitude evacuation, as we are
        foreigners working in US.
        <br>
        The documentation of
        <a href="https://helpdesk.worldnomads.com/customer/en_us/portal/articles/2402086-travel-insurance-activities-sports-adventures-covered-by-world-nomads">
            Travel Insurance: Activities, sports & adventures covered by World Nomads</a> says:
        <blockquote>
            Mountaineering, high altitude climbing or expeditions (up to 22,965 feet/7,000 meters)
        </blockquote>
        As we are only planning to go up to 5,200 meters, this insurance must be suffice!
    </div>

    <br>
    <br>
    <h1>Two people cost (Pre-trip) </h1>
    Finally here are the summary of the pre-trip costs for two people.
    <div class="container">
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Cost (USD)</th>
                <th>Comment</th>
                <th>Reference section</th>
            </tr>
            <tr>
                <td>Flight between San Francisco &harr; Kathmandu</td>
                <td>1,279.82</td>
                <td>We used China Southern Airlines.</td>
                <td></td>
            </tr>
            <tr>
                <td>15-day Gokyo Everest Base Camp Trek to <a href="http://www.himalayanleisure.com/"> Himarayan
                    Leisure</a></td>
                <td>2,116</td>
                <td>We paid US$ 212 online via <a href="https://www.bookmundi.com/everest-base-camp-trek/d5-bm">Bookmundi </a>
                    and the remaining in Napal by cash (USD).
                </td>
                <td><a href="#localtour">Deciding on tours</a></td>
            </tr>
            <tr>
                <td>Travel Protection Explorer Plan from <a href="https://www.worldnomads.com/"> World Nomads</a></td>
                <td>213.75</td>
                <td>The travel insurance for 13 days when we are at the high altitude (>3,000m).</td>
                <td><a href="#insurance">Insurance</a></td>
            </tr>

        </table>
        <br>
        <br>
    </div>
</div>

{% endblock %}