{% extends "layout.html" %}
{% block body %}





<div class="container">
    <div class="row" margin="0px">
        <div class="col-sm-9">
            <div id="map" style="width:100%;"></div>
            <div class="chart-container">
                <canvas id="get_plot_latlng" width="400" height="400"></canvas>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="tz-gallery">
              {% for pic in randompics %}

                <a class="lightbox" href="{{pic}}">
                    <img src="{{pic}}">
                </a>

              {% endfor %}
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-sm-12">
        <div class="chart-container">
            <canvas id="get_plot_latlng" width="400" height="400"></canvas>
        </div>
    </div>
</div>



<div class="container">
    <div class="row" margin="0px">
        <div class="col-sm-12">
            test
            <p id="blog_diary"></p>
        </div>
    </div>
</div>


<hr>



<footer class="container-fluid text-center">
    <p><a href="https://fairyonice.github.io/">Yumi's blog</p>
</footer>




<!--read in GoogleMap
This line needs to come right befor initMap defenition
-->
<script>
function initMap(){
    var pa = {{ points_aftertrip | safe }};
    initialize_aftertrip(pa);
};
get_plot_latlng({{ points_aftertrip | safe }});
</script>

<!--
<script>
// https://stackoverflow.com/questions/8710758/json-is-appearing-as-unicode-entities-in-jinja2-template/8710993
var randompics = {{ randompics | map('string')|list|tojson}};
image_zoom_out(randompics)
</script>
-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC1xvs61savLDwAnHYYXOPP1kp1TLDTWI&callback=initMap"></script>




{% endblock %}

