{% extends "layout.html" %}
{% block body %}


<div class="container">
    <nav id="toc" data-toggle="toc"></nav>
    <div data-spy="scroll" data-target="#toc">
        <br>

        <titlefont>The Challenges</titlefont>
        Here are the lists of challenges that I faced:
        <br>
        <ol>
            <li>
                <a href="#2weekvacation">Getting more than 2 weeks of vacation days during the EBC trekking seasons for
                    both my husband and me</a>
            </li>
            <li><a href="#highaltitude">Physically prepared for high altitude environment</a></li>
            <li><a href="#affordable">Gather information and plan the affordable trip</a></li>
        </ol>
        <br>
        <br>
        <h1 id="2weekvacation">+2 weeks vacations</h1>
        <p>
            The time required for EBC trekking vary across tours.
            The shortest trip to EBC seems to take about 7 - 8 days, and often has at most 1 acclimitization day.
            This route takes the same route in and out, and it is roughly like this:
        <ol>
            <li>Lukla -> Namche Bazzar -> Tengboche -> Dingboche -> Lobuche -> Everest Base Camp -> Dingboche -> Lukla
        </ol>
        <br>
        (When I was planning the EBC trip, it was very difficult for me to remember the unfamiliar foreign geographical
        names.
        For someone like me, I embedded the google map around EBC with a geographical names at
        <a href="https://yumi-trip-backlog.herokuapp.com/ebc">map and schedule page</a>.
        This page essentially shows the route I decided to take.
        So please refer to it when you get overwhelmed with the geographical names.)
        <br>
        <br>
        We did not want to take this route because the schedule seems too tight,
        and we wanted to make sure that we will have enough acclimitization days.
        We also thought that it would be nice that if the trekking route is not piston but a loop to enjoy more view.
        </p>
        <h2> Gyoko Lake</h2>
        <p>
            Gyoko Lake is a popular "adds-on" to the EBC trek.
            Going to Gyoko lake requires at least additional 2 - 3 days to the route but it can make the entire trek
            into a
            loop.
            Visiting EBC is once-in-life-time experience and who knows if we come back to this area on earth in the
            future?
            So we decided to add Gyoko lake in our route.

        </p>
        <h3> Clockwise loop or counter-clockwise loop</h3>
        <p>
            There are two ways to go to Gyoko lake and EBC: clockwise route and counter-clockwise route.
            The clockwise route would add at least 2 additional days to the route while the counter clockwise route
            seems to
            add at least 3 additional days.

            From online research we found that if we take a clockwise route, the route from Gokyo side is little though,
            and step walking up is required in comparisons to the counter-clockwise route from Everest base camp side.
            The trail from Everest base camp side is gradually ascent, so it is easier and more comfortable of doing
            Chola
            la pass from Everest base camp side rather than from Gokyo.
            From this information, we decided to visit Gyoko lake in counter-clockwise loop.
        </p>
        <br>
        <p>
            We also decided to have two additional acclimitization days and this made our EBC trip to extend 15 days.
            See <a href="https://yumi-trip-backlog.herokuapp.com/ebc">Before trip</a> for the exact route that we
            decided to
            take.
        </p>
        <p>
            We overcame this first challenge by planning ahead, and saved vacation days in 2017.
        </p>


        <br>
        <br>
        <h1 id="highaltitude">Physical Preparation for High Altitude</h1>
        <p>
            I was concerened about the high altitude.
            The highest altitude that I visited was 4,207m in Mauna Kea, and
            I felt very weak when I was there.
            You get altitutde sickness especially when you are tired and did not have a good sleep.
            So in order to avoid this, we decdided to have extra buffer days to fix the jet lag in Kathumandu before our
            15
            trekking days.

        </p>

        <h2>Altitude sickness medicine</h2>
        <p>
            Diamox is the only clinically proven medication which speeds up acclimatization.
            However, it seems that we need prescription to purchase this medicine in US.
            So we decided to buy it in Kathmandu. Let's see if our decision will be right...
        </p>
        <br>
        <br>
        <div id="gather info">
            <h1 id="affordable">Gather information and plan the affordable trip</h1>
            <br>
            <h2 id="localtour">Deciding on tours</h2>

            Gathering infomation online was one of the biggest challenge and that is also the reason why I was motivated
            to log my experience.
            <br>
            <h3>Tour vs individual trekking</h3>
            <p>
                We know that individual trekking is possible and potentially cheaper.
                But we decided to go with a tour because we are pretty new to this high altitude world, and wanted to
                have
                someone that we can rely on in the case of emergency.
                Nevertheless, <a
                    href="https://www.twowanderingsoles.com/blog/how-much-does-everest-base-camp-trek-cost">this
                blog</a> gave me a good ideas on individual trek.
            </p>
            <br>
            <p>
            <h3>Western tour vs local tour</h3>
            The price of EBC tour vary between $700 - $5,000, and local tours are in the lower range (< $2,000)
            while the western tours are in higher range (> $2,000).

            My impression of the biggest difference in service was that western tour comes with western tour guide and
            "nice" tea house accomodation while the local tours come with local guide and "regular" accommodation.

            We decided to go with the local tour because we did not really care much about the nice accommodation in
            Nepal.
            </p>
            <br>
            <h2>Choosing local tours </h2>
            <p>
                <a href="https://www.bookmundi.com/everest-base-camp-trek/d5-bm">Bookmundi </a> website was great help
                deciding
                on which local tours to select.
                You can chat with the tour organizers on live (for free) to negotiate the price and ask basic questions.
                I talked to 4 travel agencies (Green Valley Nepal Treks, Unique Path Trekking & Expedition, Nepal Eco
                Adventure Pvt Ltd and Himalayan Leisure, Inc.) and decided to go with <a
                    href="http://www.himalayanleisure.com/"> Himarayan
                Leisure</a>.
            </p>
            <br>


            <div class="container">
                <figure>
                    <img src="/static/img/screenshot_bookmundai.png" class="img-rounded" border="20" alt="Cinque Terre"
                         width="904" height="436" alt="screenshot_bookmundai">
                    <figcaption> Screenshot of my chatting history with <a href="http://www.himalayanleisure.com/">
                        Himarayan Leisure</a></figcaption>
                </figure>
            </div>
            <br>
            <h4>The service provided by most of the four agencies</h4>
            <p>
                All the 4 travel agencies offer packages that contains basic items, and they are:
            <ol>
                <li>Airport pickup and drop services on a private vehicle before and after the trek</li>
                <li>Kathmandu - Lukla - Kathmandu domestic airline tickets</li>
                <li>All applicable domestic airport taxes</li>
                <li>Accommodation on cozy tea houses during the whole trek</li>
                <li>Trekkers Information Management System (TIMS) registration card</li>
                <li>Experienced English speaking, government licensed and ministry of tourism trained
                    trekking guide with meals, accommodation, salary and insurance
                </li>
                <li>Down jacket, four seasonal sleeping bag, duffel bag and trekking map (down jacket and sleeping bag
                    are
                    to be returned after trip completion)
                </li>
                <li>All meals [Breakfast, Lunch and Dinner / main course] during the trek as per the itinerary</li>
                <li>Down jacket, four seasonal sleeping bag, duffel bag and trekking map (down jacket and sleeping bag
                    are
                    to be returned after trip completion)
                </li>
                <li>Comprehensive first aid medical kit carried by the guide</li>
                <li>Necessary paper works, all government and local taxes</li>
            </ol>
            I purposefully selected tours without porters because I wanted to carry my own luggage by myself.
            But all the tours suggested that I can have porter services as add-on to the trip.
            </p>
            <br>
            <p>
                I believe these are the minimum required items for hikers like us to trek to EBC.
                So I am sure I would be happy choosing any of these agencies.
                But they have some different characteristics here and there.
                To optimize the choice of agencies, I looked at some of their statistics.
                The next section discusses the difference of the four agencies.
            </p>
            <br><br>

            <h4>The difference of the four agencies</h4>
            <br>
            <div class="container">
                <table class="table">
                    <tr>
                        <th>Travel Agency</th>
                        <th>Trip Advisor Review Rate</th>
                        <th>Bookmundi Review Rate</th>
                        <th>Tour Offer for 2 people</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.tripadvisor.com/Attraction_Review-g293890-d6109052-Reviews-Green_Valley_Nepal_Treks_Research_Hub_Day_Tours-Kathmandu_Kathmandu_Valley_Bagmat.html">Green
                                Valley Nepal Treks</a></td>
                        <td>5.0 (359 Reviews)</td>
                        <td>4.5 (110 Reviews)</td>
                        <td>15-day trek for USD 2,500</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.tripadvisor.com/Attraction_Review-g293890-d10726449-Reviews-Unique_Path_Trekking_Expedition-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_.html">Unique
                                Path Trekking & Expedition</a></td>
                        <td>5.0 (81 Reviews)</td>
                        <td>5.0 (8 Reviews)</td>
                        <td>15-day trek for USD 1,750 without meals and USD 2,750 with meals
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.tripadvisor.com/Attraction_Review-g293890-d5992936-Reviews-Nepal_Eco_Adventure-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html">Nepal
                                Eco Adventure Pvt Ltd</a></td>
                        <td>5.0 (604 Reviews)</td>
                        <td>4.8 (236 Reviews)</td>
                        <td>15-day trek for USD <strike>2,420</strike> 2,500</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="https://www.tripadvisor.com/Attraction_Review-g293890-d5123540-Reviews-Himalayan_Leisure_Inc-Kathmandu_Kathmandu_Valley_Bagmati_Zone_Central_Region.html">Himalayan
                                Leisure, Inc.</a></td>
                        <td>5.0 (47 Reviews)</td>
                        <td>4.9 (268 Reviews)</td>
                        <td>15-day private-tour trek for USD 2,116</td>
                    </tr>
                </table>
                The number of reviews is counted on April 8, 2018.
                <br>
                <br>
                <p>
                    I got the impression that the Trip Adviser's review rates are unrealistically so high in all these
                    agencies that maybe they are hiring someone to write reviews.
                    Also many reviews are too well-written..., giving me the impression that some "professional writers"
                    gave these reviews.
                </p>
                <br>
                <p>
                    Nevertheless, the number of reviews in Trip Adviser seems to be correlated to the age of the
                    agencies.
                    From my online research, Nepal Eco Adventure Pvt Ltd is the oldest and most popular tour agency for
                    EBC
                    trekking.
                    As the offer from Green Valley Nepal Treks and Unique Path Trekking & Expedition are
                    just as comparable as the Nepal Eco Adventure Pvt Ltd, and they seem less popular than Nepal Eco
                    Adventure Pvt Ltd,
                    I thought that there are no advantage of selecting Green Valley Nepal Treks and Unique Path Trekking
                    &
                    Expedition over Nepal Eco Adventure Pvt Ltd.
                    This left me with the choice of Nepal Eco Adventure Pvt Ltd and Himalayan Leisure, Inc.
                    <br><br>
                <h4><a href="https://nepalecoadventure.com/">Nepal Eco Adventure Pvt Ltd</a></h4>
                Chhatra Karki was a very responsible manager of Nepal Eco Adventure Pvt Ltd and he responded to my
                questions
                very quickly and professionally.
                However, I was not very happy about one thing:
                I contacted Nepal Eco Adventure on Sunday midnight in Feburary (PST).
                The price listed on bookmundai for the entire tour was USD 2,420 for two people.
                The next day Nepal Eco Adventure Pvt Ltd emailed me back saying that the tour is USD 2,500.
                I was confused, and I emailed him:

                <blockquote>
                    The website changed the price.
                    The 15 days trip without porter used to be $1210 / person.
                    Now it is $1250. Why did the price change?
                </blockquote>
                The response from Chhatra Karki was:
                <blockquote>
                    Trip cost can change if you book the trek in much advance its cheaper. Price of the trip can change
                    we
                    had weekend discount time you checked the price after the weekend back intro normal price that we
                    fixed
                    price for nearly 1 year.
                    Price changed because weekend is over and we change the price
                    ...
                    If other agency package similar and cheaper you can book other package as you like.
                    I am sorry I can't give you any better price then $1250 USD. $1250 USD per person is final price for
                    the
                    trek.
                    There are lots of choice on Boomundi you can chose which you like to use for your trek. If you have
                    any
                    question let me know.
                </blockquote>
                Humm, but I emalied you during my weekend when the price was still $1210/person?
                I interpreted this email as "This is what you get and if you want to go with others, go ahead and do so
                but
                you will be sorry".
                I felt that this conversation would not be a good start of my big adventure.
                So ... yeah I decided to take his advice and go with others.
                </p>
                <br><br>
                <h4><a href="http://www.himalayanleisure.com/">Himalayan Leisure, Inc.</a></h4>
                Himalayan Leisure was one of the newest agencies but Upendra Duwadi was very kind and professional in
                answering questions.
                Furthermore, he offered us a private tour for just USD 2,150!
                This was huge because other agencies only offer a group tour for similar price.
                We thought that the private tour would be good because we can adjust a tour according to our own pace.
                Upendra Duwadi mentioned that if we want to add one more day to the trip during the trip, we can do so.

                <br>
                The pre-trip plannig could be particularly stressful if we do not have Upendra to answer to our naive
                questions.
                He kindly answered to more than 15 questions before the trip and before purchasing the trip.
                I would like to share some of my question and his response.
                You can see how detail his answer was.
                He really earned my trust.
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th></th>
                        <th>My Question</th>
                        <th>Upendra's Answer</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td> Day 03 says "Acclimatization day at Namche Bazzar. walking 5 hours, O/N at guest house. (B
                            L D
                            Plan)." I am curious why we are walking 5 hours on acclimatization day? What are we doing on
                            this day? I have a same question on Day 06. What are we doing on Day 06?
                        </td>
                        <td>There are short optional hikes nearby while staying in Namche Bazaar. You will be doing
                            short
                            acclimatization hikes on this day. This is same for Day 06 as well, you will be doing
                            optional
                            hikes around Dingboche.
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>How long can we stay in EBC on Day 08?</td>
                        <td>You can stay for a couple of hours in EBC if you want to stay. You can stay as long as the
                            time
                            permits.
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td> Do you provide bottle of water during the trek?</td>
                        <td>We do not provide drinks while on the trek, you can buy drinks including water in the lodges
                            directly.
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>What is the size of this trekking group?</td>
                        <td>This is a private departure, you will be trekking together with a private guide.</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>What is the success rate of this trip? Can everyone go to both EBC and Gyoko Ri?</td>
                        <td>We have over 99% success rates for our treks.</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>What do you expect for us to bring to this trip? i.e., what is not included in this package?
                        </td>
                        <td>Usually, all the basic expenses of the trek are included in the plan. Generally, some
                            snacks,
                            energy bars etc. are not included and you can bring them from home. You will only need
                            clothing
                            for the trek.
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>How much shall I expect to purchase water in tea house for a day?</td>
                        <td>Well, this varies however generally the prices for 1-liter water is about 1US$ in lower
                            altitude
                            and about 3.5USD in higher altitude.
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Does our guide have Oxymeter to check altitude sickness? If not how does he check the
                            altitude
                            sickness?
                        </td>
                        <td>Our guides have Oximeter while on the trek. It's USA imported Oximeter approved by American
                            Medical Association.
                        </td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>I really like this offer, especially that this is a private tour. To be very honest with
                            you, I
                            am debating the offer from Himalayan Leisure and Nepal Eco Adventure. Nepal Eco Adventure
                            has
                            more reviews on trip advisor than Himalayan Leisure. But I feel that your response to my
                            message
                            is more sincere. Could you tell me the advantage of Himalayan Leisure over Nepal Eco
                            Adventure?
                        </td>
                        <td>We are comparatively new company and that is why we have fewer reviews than other companies.
                            You
                            might not find any negative reviews about us which talk about our poor service. We provide
                            all
                            the services that we promise without any compromise and additionally, traveling with us is
                            like
                            traveling with your own family members. We do not make comments about other companies, sorry
                            about it.
                        </td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>We also need to purchase travel insurance right?</td>
                        <td>Travel insurance is recommended but it's not compulsory.</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td> May I ask a basic question about water in trek: You mentioned that the cost of water is $3
                            in
                            higher altitude. Do we need to "treat" this water before we drink? How much water are we
                            supposed to drink every day?
                        </td>
                        <td>This is the price of purified water or boiled water. This water doesn't require treatment
                            before
                            drinking. You can purify and drink spring water which is free of cost.
                        </td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>Do we have to bring a special water proof hiking pants (because we can only borrow down
                            jackets)?
                        </td>
                        <td>In April, you do not require special hiking pants. You can use regular hiking pants and in
                            general, it's good to bring a waterproof pant in case it rains. Generally, it will not rain
                            at
                            this time of the year.
                        </td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>We are planning to bring 55L hiking bags which we often use for back country hiking. Would
                            these
                            bags too big or too heavy for trekking?
                        </td>
                        <td>These bags should be fine, usually, we also recommend 55L - 60L backpack for the trek.</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>May I also ask if it is possible to extend the trip during the trip? For example, say one of
                            us
                            is really sick in one day, then can we have extra day for resting and extend the trip from
                            15
                            days to 16 days. Of course we are willing to pay for the extra day. Will our guide be
                            available
                            for the extra day in such case?
                        </td>
                        <td>You can extend the trek while in the mountain. It will cost US$ 62 / per day / per person
                            (if
                            you take porter) and US$ 54 / per person / per day in case you trek with a guide but without
                            a
                            porter. We will make the guide available.
                            Thank you!
                        </td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>Does this $54 include the cost of a person staying in tea house for one more night?</td>
                        <td>Both prices include guide (and porter) services, your meals for that day and accommodation
                            on
                            the tea houses.
                            Thank you!
                        </td>
                    </tr>

                    <tr>
                        <td>16</td>
                        <td>Our package description says it includes " Down jacket, four
                            seasonal sleeping bag, duffel bag and trekking map (down jacket and
                            sleeping bag are to be returned after trip completion)". May I ask if
                            down Jacket includes the outer shell? Also, shall we bring rain
                            jeckets/outer shell by ourselves?
                        </td>
                        <td>The down jacket will not have an outer shell and it's recommended to bring the rain jackets
                            with
                            you.
                        </td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>Can we borrow trekking pants?</td>
                        <td>It's not possible to borrow trekking pants but you can buy a cheap one in Kathmandu around
                            US$
                            20-25.
                        </td>
                    </tr>
                    <tr>
                        <td>18</td>
                        <td>We are deciding on what to wear for the trip. Our small online research shows us that the
                            temperature of EBC ranges between -5C to 15C in April and May.
                            But do you think this is a reasonable range of temperature? Do you think we can wear jeans
                            for
                            this trip?
                        </td>
                        <td>Wearing jeans will not be a great idea while on the trail. It's not comfortable. Buying
                            trekking
                            pants is recommended.
                        </td>
                    </tr>
                    <tr>
                        <td>19</td>
                        <td>We are really concerned about altitude sickness. Is it possible to purchase Diamox tablet
                            (Acetazolamide) in Kathmandu (without prescription)? How much would they in Kathmandu?
                        </td>
                        <td>You can buy Diamox in Kathmandu without prescription but there is not 100% sure medicine to
                            prevent altitude sickness.
                            Thank you!
                        </td>
                    </tr>
                </table>
                I believe some of my questions were not very nice (especially my question 9 was not nice).
                But he professionally answer to my questions and I am very thankful for it.
                <br>
            </div>
        </div>
        <br>
        <br>
        <div id="insurance">
            <h2>Insurance</h2>
            Travel Protection Explorer Plan from <a href="https://www.worldnomads.com/"> World Nomads</a> was the one of
            the
            few travel insurances that cover high altitude evacuation.
            We wanted to have some insurance just in case if we need to evacuate with helicopter in high altitude
            (which is not cheep without insurance).
            We only purchased this travel insurance for 13 days DAY2 (25 Apr 2018) to DAY 14 (7 May 2018) when we are in
            altitude higher than 3,000m.
            <br>
            Note: We have another regular travel insurance, which does not cover high-altitude evacuation, as we are
            foreigners working in US.
            <br>
            The documentation of
            <a href="https://helpdesk.worldnomads.com/customer/en_us/portal/articles/2402086-travel-insurance-activities-sports-adventures-covered-by-world-nomads">
                Travel Insurance: Activities, sports & adventures covered by World Nomads</a> says:
            <blockquote>
                Mountaineering, high altitude climbing or expeditions (up to 22,965 feet/7,000 meters)
            </blockquote>
            As we are only planning to go up to 5,200 meters, this insurance must be suffice!
        </div>

        <br>
        <br>
        <h1>Two people cost (Pre-trip) </h1>
        Finally here are the summary of the pre-trip costs for two people.
        <div class="container">
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Cost (USD)</th>
                    <th>Comment</th>
                    <th>Reference section</th>
                </tr>
                <tr>
                    <td>Flight between San Francisco &harr; Kathmandu</td>
                    <td>1,279.82</td>
                    <td>We used China Southern Airlines.</td>
                    <td></td>
                </tr>
                <tr>
                    <td>15-day Gokyo Everest Base Camp Trek to <a href="http://www.himalayanleisure.com/"> Himarayan
                        Leisure</a></td>
                    <td>2,116</td>
                    <td>We paid US$ 212 online via <a href="https://www.bookmundi.com/everest-base-camp-trek/d5-bm">Bookmundi </a>
                        and the remaining in Napal by cash (USD).
                    </td>
                    <td><a href="#localtour">Deciding on tours</a></td>
                </tr>
                <tr>
                    <td>Travel Protection Explorer Plan from <a href="https://www.worldnomads.com/"> World Nomads</a>
                    </td>
                    <td>213.75</td>
                    <td>The travel insurance for 13 days when we are at the high altitude (>3,000m).</td>
                    <td><a href="#insurance">Insurance</a></td>
                </tr>

            </table>
            <br>
            <br>
        </div>
    </div>
</div>
{% endblock %}