{% extends "layout.html" %}
{% block body %}


<div class="container">
    <div class="row" margin="0px">
        <div class="col-sm-10">
            <div id="map" style="width:100%;height:600px;"></div>
        </div>

        <div class="col-sm-2">
            {% for pic in randompics %}
                <img src= "{{pic}}" class="img-rounded" width="100%">
            {% endfor %}
         </div>
    </div>
</div>

<hr>



<footer class="container-fluid text-center">
    <p><a href="https://fairyonice.github.io/">Yumi's blog</p>
</footer>




<!--read in GoogleMap
This line needs to come right befor initMap defenition
-->
<script>


<!--console.log(points_aftertrip)-->

function initMap(){
    var pa = {{ points_aftertrip | safe }}
    initialize_aftertrip(pa)
};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC1xvs61savLDwAnHYYXOPP1kp1TLDTWI&callback=initMap"></script>




{% endblock %}

